<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @employee.area %>
</p>

<p>
  <strong>Proficiency:</strong>
  <%= @employee.proficiency %>
</p>

<p>
  <strong>Available:</strong>
  <%= @employee.available %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
