<div class="row">
  <%=link_to "New user story",new_submodule_for_project_path(@project_id),:class=>"pull-right btn btn-primary",:remote=>"true"%>
</div>
<br>
<div class="row">
<%if @submodules.count==0%>
  <div class="warn">No submodules found</div>
<%else%>
  <%@submodules.each do |submodule|%>
    <% if submodule.deadline < Date.today%>
      <div class="red modules">
      <%else%>
        <div class="modules">
      <%end%>
    <div class="module_name"><%=submodule.name.titlecase%><div class="deadline"><%=submodule.deadline%></div></div><br>
  <div class="module_desc"><%=submodule.desc%></div><br>
  <br>
  <div class="module_name">Thoughts</div>
  <br><br>
  <%if submodule.comments.count==0%>
    <div class="text-center">No thoughts</div>
  <%end%>
  <%submodule.comments.each do |comment|%>
    <div class="single_comments"> 
      <div class="comment_user"><u><%=comment.comment_owner%></u> says </div>
      <div class="comment_content"><%=comment.content%></div>
    </div>

    <br>
  <%end%>
  <br>
  <%=link_to("Edit submodule",edit_submodule_path(submodule),:class=>"btn btn-info",:remote=>true)%>
  <%=link_to(submodule.bugs.count.to_s+" Bugs",bugs_in_submodule_path(submodule.id),:class=>"btn btn-info",:remote=>true)%>
  <%=link_to("New comment",new_comment_for_submodule_path(submodule.id),:class=>"btn btn-success",:remote=>"true")%>

  <div id="bugs"></div>
</div>
<br>
<br>
<br>
<%end%>
<%end%>
</div>
