<div class="row">

  <h1>Projects</h1>
  <div class="col-md-4"> <p class="text-uppercase">Title</p></div>
  <div class="col-md-4"><p class="text-uppercase">Description</p></div>
</div>      
<% @projects.each do |project| %>
  <div class="row">
    <div class="col-md-4"><p><%= project.title %></p></div>
    <div class="col-md-4"><p><%= project.desc %></p></div>
    <div class="col-md-4"><p><%= link_to 'Show', project,:class=>"btn btn-primary" %> <%= link_to 'Edit', edit_project_path(project),:class=>"btn btn-info" %> <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger" %></p></div>
  </div>
<% end %>
<%= link_to 'New Project', new_project_path,:class=>"btn btn-success" %>
