<div class="row">
  <%=link_to "New user story",new_submodule_for_project_path(@project_id),:class=>"pull-right btn btn-primary"%>
</div>
<br>
<div class="row">
<%if @submodules.count==0%>
  <div class="warn">No submodules found</div>
<%else%>
<%@submodules.each do |submodule|%>
  <div class="modules">
  <p class="module_name"><%=submodule.name.titlecase%></p><br>
  <p class="module_desc"><%=submodule.desc%></p><br>
  <br>
  <div class="module_name">Thoughts</div>
  <br><br>
  <%if submodule.comments.count==0%>
    <p class="text-center">No thoughts</p>
  <%end%>
  <%submodule.comments.each do |comment|%>
    <div class="single_comments"> 
      <div class="comment_user"><u><%=comment.comment_owner%></u> says </div>
      <div class="comment_content"><%=comment.content%> </div>
    </div>
    <br>
  <%end%>
  <br>
  <%=link_to("Edit submodule",edit_submodule_path(submodule),:class=>"btn btn-info")%>
 <%=link_to("Bugs",bugs_in_submodule_path(submodule.id),:class=>"btn btn-info")%>
  <%=link_to("New comment",new_comment_for_submodule_path(submodule.id),:class=>"btn btn-success")%>
</div>
<br>
<br>

<br>
<%end%>
<%end%>
</div>
