<%= form_for(@hook) do |f| %>
  <% if @hook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hook.errors.count, "error") %> prohibited this hook from being saved:</h2>

      <ul>
      <% @hook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :token %><br>
    <%= f.text_field :token %>
  </div>
  <div class="form-group">
    <%= f.select(:submodule_id, Submodule.all.collect {|a| [a.name, a.id]},{},{:class=>"form-control"})%>
  </div>

  <div class="form-group">
    <%= f.label :purpose %><br>
    <%= f.select( :purpose,options_for_select(["bugs","comments"])) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
