
</div>
<h1>Listing hooks</h1>

<%= link_to 'New Hook', new_hook_path %>
<table class="table">
  <tr>
    <td>Name</td>
    <td>Url to call</td>
    <td>Purpose</td>
    <td>Action</td>
  </tr>
  <% @hooks.each do |hook| %>
    <tr>
      <td><%= hook.name %></td>
      <td><%="request/"+hook.purpose+"/"+hook.submodule_id.to_s+"/"+hook.token%></td>
      <td><%=hook.purpose%></td>    
      <td><%= link_to 'Destroy', hook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>

<br>

