<br>
<div class="row">
  <%=link_to("New bug",new_bug_for_submodule_path(@submodule.id),:class=>"btn btn-info pull-right",:remote=>true)%>
</div>
<%if @bugs.count==0%>

  <div class="row">
    <p class="warn">No bugs for <%=@submodule.name%></p>
  </div>
<%else%>
  <div class="bug_name">Bugs for <%=@submodule.name%> </div>
  <p>Read as <strong>"Bug name"</strong> with <strong>"Bug description"</strong> is assigned to <strong>"Bug person"</strong>and the status <strong>Bug status</strong></p>

  <%@bugs.each do |bug|%>
    <%if bug.status=="open"%>
      <div class="bugs alert alert-danger">   
      <%elsif bug.status="on hold"%>
        <div class="bugs alert alert-info">
        <%elsif bug.status="working"%>
          <div class="bugs alert alert-warning">
          <%elsif bug.status=="close"%>
            <div class="bugs alert alert-success">
            <%end%>

            <%=bug.name%> <i class="fa fa-chevron-right"></i>
            <%=bug.desc%> <i class="fa fa-chevron-right"></i>
            <%=bug.assigned_to%> <i class="fa fa-chevron-right"></i>
            <%=bug.status%>
          </div>

        <%end%>
      <%end%>
