<%= form_for(@submodule) do |f| %>
  <% if @submodule.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger"><%= pluralize(@submodule.errors.count, "error") %> prohibited this submodule from being saved:

      <ul>
      <% @submodule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_area :name,:class=>"form-control input-md" %>
  </div>
  <div class="form-group">

    <%= f.label :desc %><br>
    <%= f.text_area :desc,:class=>"form-control input-md",:id=>"desc" %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.datetime_select :deadline %>
  </div>
  <div class="form-group">
    <%= f.label :score %><br>
    <%= f.number_field :score,:class=>"form-control input-md" %>
  </div>
    <div class="field">
    Close <%= f.check_box :close %>
  </div>
<div class="actions">
    <input type="submit" value="Save" class="btn btn-success">
    <a href="/" class="btn btn-danger">Cancel</a>
  </div>
<% end %>
<script>
$('document').ready(function(){
    $('#desc').jqte()
    })
</script>
